<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>

<handlers>
            <add name="Python Interpreter" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python310\python.exe D:\Webtools\Scripts\handler.py %s %s" resourceType="Unspecified" requireAccess="Script" />
<add name="SSINC-html" path="*.html" verb="*" modules="ServerSideIncludeModule" resourceType="File" />
<add name="SSINC-htm" path="*.htm" verb="*" modules="ServerSideIncludeModule" resourceType="File" />
</handlers>
        <security>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Allow" roles="Company" />
            </authorization>
        </security>

</system.webServer>
</configuration>
