 .u-section-1 {
  min-height: 1363px;
}

.u-section-1 .u-group-1 {
  background-image: none;
  margin-top: 55px;
  margin-bottom: 0;
  min-height: 128px;
}

.u-section-1 .u-container-layout-1 {
  padding: 23px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: -2px 2px 8px rgba(0,29,56,1);
  text-align: left;
  width: 364px;
  margin: 2px auto -5px 438px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -71px auto 0 352px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 824px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 940px) / 2) + 302px);
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 940px) / 2) + 302px);
    margin-left: 671px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 296px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 720px) / 2) + 231px);
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 720px) / 2) + 231px);
    margin-left: 503px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 156px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 540px) / 2) + 173px);
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 540px) / 2) + 173px);
    margin-left: 396px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 340px) / 2) + 109px);
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 340px) / 2) + 109px);
    margin-left: 244px;
  }
}