<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <authorization>
                <remove users="" roles="Company" verbs="" />
                <add accessType="Allow" users="jay.dunn,nick.wieczorek,ralph.werner,tiff.hergert,brian.barchus,george.oswald" />
                <add accessType="Allow" roles="Domain Admins" />
            </authorization>
        </security>
        <handlers>
            <remove name="Python Interpreter" />
            <add name="Python Interpreter" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python310\python.exe D:\Webtools\Scripts\MaterialsInspectionhandler.py %s %s" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
